<div class="container-fluid">
<div id="classshowpage">

<div class="well">
  <div class='col-sm-12' id="classshowheader">
    <h1>Student Directory
    <%= link_to '', new_student_path, :class => 'btn btn-primary glyphicon glyphicon-plus pull-right' %>
    </h1>
    <br>


<div class='well'>
  <div class='col-xs-12'>
    <div class="table-responsive">
      <table class="mytable table table-border table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
          <% if @students.count < 1 %>
          <tr>
            <td>There are no students in the directory at this time</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <% else %>
          <% @students.each do |student| %>
          <tr>
            <td><%= link_to student.name, student_path(student.id) %></td>
            <td><% if student.note? %><%= student.note.first(30) %><% else %>(empty)<% end %>
            </td>
            <td><% if student.classgroups.count < 1 %>Not currently enrolled in classes<% else %><% student_classes = student.classgroups %> <ul><% student_classes.each do |session| %> <li><%= link_to session.name, classgroup_path(session.id) %></li> <% end %><% end %><% end %></ul></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
  </div>
  </div>
</div>


<script>
$('#studentlink').addClass('active')
</script>



