<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <h1>Student Directory</h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
          <% if @students.count < 1 %>
          <tr>
            <td>There are no students in the directory at this time</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <% else %>
          <% @students.each do |student| %>
          <tr>
            <td><%= link_to student.name, student_path(student.id) %></td>
            <td><% if student.note? %><%= student.note %><% else %>No note<% end %>
            </td>
            <td><% if student.classgroups.count < 1 %>Not currently enrolled in classes<% else %><% student_classes = student.classgroups %> <ul><% student_classes.each do |session| %> <li><%= link_to session.name, classgroup_path(session.id) %></li> <% end %><% end %><% end %></ul></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Add Student', new_student_path, :class => 'btn btn-primary' %>
  </div>
</div>