<div class='container-fluid'>
<div id="eventindexpage">
  <div class='well'>
  <div class="col-xs-12">
<h1>Events Index

    <%= link_to "", new_event_path, class: "btn btn-primary glyphicon glyphicon-plus pull-right" %>
    <% if @current_user.provider %>
      <%= link_to "Disconnect from Google Calendar", auth_logout_path, class: "btn btn-google pull-right" %>
    <% else %>
    <%= link_to "Connect to Google Calendar", "/auth/google_oauth2", class: "btn btn-google pull-right" %>
    <% end %>
</h1>
<br>
<br>


  <div>
    <div id='calendar'></div>
  </div>
</div>


</div>
</div>
</div>
