
<h1>Events Index</h1>

<a href="/auth/google_oauth2">Login with Google</a>

<%= link_to "Add Event", new_event_path %>

<div class="datetest">
  <%= @event['start'] %>
</div>

<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <div id='calendar'></div>
  </div>
</div>
