<div class='row text-center' style='color: white;'>
  <div class='col-sm-8 col-sm-offset-2'>
    <h1>500 error:</h1>
    <h2>We're sorry, but something went wrong.</h2>
    <p>If you are the application owner check the logs for more information.</p>
  </div>
</div>