<div class="container text-center">



<div class = "Absolute-Center is-Responsive">
<div class = "col-md-8 col-md-offset-2">
<h1 id="hometitle">Schedulacity</h1>
<h3 id="hometagline">Manage. Track. Schedule.</h3>
<h4 id="homedesc">Cloud based client management software that allows you to schedule sessions, track attendance, and handle communication.</h4>


<div class="text-center" id="homesignup">

 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupmodal">Signup Now!</button>

 </div>

</div>
</div>
</div>

