<!-- <div class="container text-center">



<div class = "Absolute-Center is-Responsive">
<div class = "col-md-8 col-md-offset-2">
<h1 id="hometitle">Schedulacity</h1>
<h3 id="hometagline">Manage. Track. Schedule.</h3>
<h4 id="homedesc">Cloud based client management software that allows you to schedule sessions, track attendance, and handle communication.</h4>


<div class="text-center" id="homesignup">

 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signupmodal">Signup Now!</button>

 </div>

</div>
</div>
</div> -->


<!--     <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
     <!--        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Start Bootstrap</a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
   <!--          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container -->
    <!-- </nav> -->


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 id="landing2">Schedulacity</h1>
                        <h3 id="landing3">Manage. Track. Schedule.<br><small class='title-small'>Cloud based client management software that allows you to schedule sessions, track attendance, and handle communication.</small></h3>

                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <% if !@current_user %>
                            <li>
                                <a data-toggle="modal" data-target="#signupmodal" class="btn btn-default btn-lg"><!-- <i class="fa fa-twitter fa-fw"></i> --> <span class="network-name">SignUp Now!</span></a>
                            </li>
                            <% end %>
                         <!--    <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Manage:</h2>
                    <p class="lead">Conveniently organize an unlimited number of class and student profiles, quickly contacting entire classes through the integrated text messaging alert system. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- <img class="img-responsive" src="/images/placeit.png" alt=""> -->
                    <%= image_tag "placeit.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Track:</h2>
                    <p class="lead">The Attendance Tracker and Event NoteTaker allow for easy monitoring of your student's progress while simultaneously evaluating attendance data and class success.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <!-- <img class="img-responsive" src="img/dog.png" alt=""> -->
                    <%= image_tag "class-show.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Schedule:</h2>
                    <p class="lead">A robust, full featured calendar is seamlessly linked to your Google account, so you will always be connected to where you need to be.  The event listings maintain historical records, so you can analyze previous classes and effectively plan future events with confidence.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "calendar.png", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2 id="landing1">Connect with the Developers:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://ncronquist.com/" target='_blank' class="btn btn-default btn-lg"><!-- <i class="fa fa-twitter fa-fw"></i> --> <span class="network-name">Nick Cronquist</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/katherinegilmur" target='_blank' class="btn btn-default btn-lg"><!-- <i class="fa fa-github fa-fw"></i>  --><span class="network-name">Katie Gilmur</span></a>
                        </li>
                        <li>
                            <a href="http://mcgough.github.io/Portfolio/" target='_blank' class="btn btn-default btn-lg"><!-- <i class="fa fa-linkedin fa-fw"></i> --> <span class="network-name">Dan McGough</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul> -->
                    <p class="copyright text-muted small">Copyright &copy; Schedulacity 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</div>
