/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 *= require fullcalendar
 *= require jquery-labelauty
 *= require font-awesome
 */

#text-submit {
  font-size: 15px;
}

li {
  list-style-type: circle;
}
@media (max-width: 625px) {
  .fc-month-button,
  .fc-agendaWeek-button,
  .fc-agendaDay-button {
    display: none;
  }
}

@media (max-width: 325px) {
  button.fc-today-button {
    margin-left: -.1em !important;
  }
  button.fc-prev-button {
    margin-left: -10px !important;
  }
}



