html {
  height: 100%;
}

body {
  background: white;
  background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
 /* IE10 Consumer Preview */
background-image: -ms-radial-gradient(center, circle farthest-corner, #1D99CF 0%, #336799 100%);
/* Mozilla Firefox */
background-image: -moz-radial-gradient(center, circle farthest-corner, #1D99CF 0%, #336799 100%);
/* Opera */
background-image: -o-radial-gradient(center, circle farthest-corner, #1D99CF 0%, #336799 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #1D99CF), color-stop(1, #336799));
/* webkit example */
/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(center, circle farthest-corner, #1D99CF 0%, #336799 100%);
/* W3C Markup, IE10 Release Preview */
background-image: radial-gradient(circle farthest-corner at center, #1D99CF 0%, #336799 100%);


/*font for body*/
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300 !important;
  line-height: 20px;
  font-color: #474747;
  margin-top: 100px;
}


h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 45px;
  font-color: #333333;
}

.well {
  background-color: white;
  display: inline-block;
  border: none;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  z-index: 2

}

.error {
  color: black;
  font-size: 15px;
}


label.control-label {
  display: none;
}

.form-control {
  height: 40px;
  font-size: 25px;
  line-height: none !important;
}

.form-control.class-state {
  height: 40px;
  width: 25%;
  margin-left: 15px;
}


label {
  margin-bottom: 15px;
  margin-top: 10px;
}

li {
  list-style-type: circle;
}

a {
  color: #474747;
}

a:hover {
  color: #1D99CF;
  text-decoration: none;
}

.modal-backdrop.in {
    opacity: 0.6;
}


.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;

}

.btn.btn-primary {
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin-top: 25px;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #1D99CF;
}

.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


/*Navbar*/

.logo {
  float: left;
  width: 100%;
  margin-left: -10px;
}

.navbar {
  border-bottom: 5px solid #1D99CF;
     -webkit-box-shadow: 0 8px 8px -6px #24486B;
       -moz-box-shadow: 0 8px 8px -6px #24486B;
            box-shadow: 0 8px 8px -6px #24486B;
/*  max-height: 340px;*/
  min-height: 70px;
  background-color: white;
    font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 25px;
  font-color: #333333;
}

ul.nav.navbar-nav.navbar-right a {
  padding: 30px;
  background-color: transparent;
}

ul.nav.navbar-nav.navbar-right a:hover {
  padding: 30px;
  background-color: #f5f5f5;
}

ul.nav.navbar-nav.navbar-right .active {
  background-color: #f5f5f5;
}

/*.events #calendarlink a {
  background-color: gray;
}*/

.navbar a.navbar.brand {
  padding: 30px;

}

.navbar-header {
  max-width: 250px;
}


/*Class index page*/

@media screen and (max-width: 400px) {

  .mytable {
  border-bottom: 1px solid gray;
  margin-bottom: 35px;
  table-layout: fixed;
  }

  .well {
    padding: 0 !important;
  }



  th, td {
      border: 1px solid black;
      overflow: hidden;
      width: 90px;
      word-wrap: break-word;
      font-size: 20px !important;
  }

  .student.list-group-item {
    word-wrap: break-word;
  }


  .footable-row-detail-row {
    font-size: 15px !important;
    padding: 0;
    list-style-type: none !important;
  }

  body {
     overflow: auto !important;
  }

  #classshowbr {
    display: inline !important;
  }

  /*Navbar*/

  ul.nav.navbar-nav.navbar-right a {
    padding: 10px;
  }

  .logo {
    width: 75%;
    margin-left: 5px;
  }

  /*Event Pages*/

  .attendancetable {
    padding-top: 20px !important;
    border-right: 1px solid gray !important;
  }

  #studentindex {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  /*Class Pages*/

  #studentlist {
  margin-top: 20px;
  margin-left: 10px;
  }

  #occurrences.input-lg {
    width: 200px;
  }

  #end_date.input-lg {
    width: 200px;
  }

  #classshowwellclass {
    padding: 0px !important;
    overflow: auto !important;
    border-left: none;
  }


  #classnewwellclass {
    margin: 0px !important;
    padding: 0px !important;
    border-right: none !important;
  }

  #classshowpage {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  #classsaddwellstudents {
      padding: 0px !important;
      margin-top: 30px !important;
  }

  #studentaddpage {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  #classshow {
    padding-left: 0px;
    margin-left: 0px !important;
  }


  /*.mytable td {
    padding-bottom: 0px !important;
    font-size: 15px !important;

  }
  .mytable th {
    padding-bottom: 0px !important;
    border: all;
    font-size: 15px !important;

  }*/

  .form-control.class-state {
    width: 60% !important;

  }
}

@media (max-width: 625px) {
  .fc-month-button,
  .fc-agendaWeek-button,
  .fc-agendaDay-button {
    display: none;
  }
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;

    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}


@media screen and (max-width: 768px) {

  .mytable {
  border-bottom: 1px solid gray;
  margin-bottom: 35px;

  }

  body {
     overflow: auto !important;
  }

  .backbutton {
    display: none;
  }

  /*Class Pages*/

  #classshowwellclass {
    padding: 0px !important;
    overflow: auto !important;
    border-left: none !important;
    margin: 10px;
  }

  #classnewwellclass {
    margin: 0px !important;
    border-right: none !important;
  }

  #classshowpage {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }

  #classshow {
    padding-left: 0px;
    margin-left: 0px !important;
  }

  #classindex {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

  }
}



#tableandtext {
  margin-top: 30px;

}

/*.mytable {
  margin:0px !important;
  table-layout:fixed;
}

.mytable td {
  padding-bottom: 0px !important;
  overflow:hidden;
}*/

table.mytable, .mytable td, .mytable tr, .mytable th, .mytable tbody, .mytable thead {
  border: 1px solid gray;
  font-family: Helvetica;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300 !important;
  font-color: #474747;
  word-wrap: break-word;
  table-layout:fixed

}

.mytable th {
  font-family: Helvetica;
  font-size: 25px;
  font-style: bold;
  font-weight: 400 !important;
  font-color: #474747;

}


/*class show page*/

#classshow {
   align-self: stretch;
   width: 100%;

}

#classheader {
  font-family: Helvetica;
  font-size: 50px;
  font-style: bold;
  font-weight: 400;
  font-color: #474747;
  padding-right: 25px;
}

#classshowwellstudents {
  align-self: stretch;
  min-height: 550px;
  max-height: 550px;
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  font-color: #474747;
  margin: 0;
  overflow: auto;
}

#classshowwellclass {
  align-self: stretch;
  min-height: 550px;
  margin: 0;
  border-left: 10px solid #1D99CF;
  max-height: 550px;
  overflow: auto;

}

@media all and (max-width: 480px) {
  #classshowwellclass {
  margin: 0;
  border: 0px !important;
  }
}

#classshow {
  margin: 0px;

}

.glyphicon.glyphicon-phone {
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 5px;
}

.glyphicon.glyphicon-phone:hover {
  font-size: 0.5em;
  background-color: #1D99CF;
  color: #ffffff;
}

.glyphicon.glyphicon-eye-open {
  font-size: 0.9em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;

}

.glyphicon.glyphicon-eye-open:hover {
  font-size: 0.9em;
  color: #ffffff;
  background-color: #1D99CF;

}

.glyphicon.glyphicon-trash {
  font-size: 0.5em;
  border: 2px solid #E61616;
  background: none;
  color: #E61616;
  margin: 5px;

}

.glyphicon.glyphicon-trash:hover {
  font-size: 0.5em;
  color: #ffffff;
  background-color: #E61616;

}

.glyphicon.glyphicon-pencil{
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 5px;
}

.glyphicon.glyphicon-pencil:hover{
  font-size: 0.5em;
  background-color: #1D99CF;
  color: #ffffff;
}

.glyphicon.glyphicon-calendar{
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 5px;
}

.glyphicon.glyphicon-calendar:hover{
  font-size: 0.5em;
  background-color: #1D99CF;
  color: #ffffff;
}

.glyphicon.glyphicon-plus{
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 10px;
  margin-right: 15px;
}

.glyphicon.glyphicon-plus:hover{
  font-size: 0.5em;
  background-color: #1D99CF;
  color: #ffffff;
}

.glyphicon.glyphicon-edit{
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 5px;
}

.glyphicon.glyphicon-edit:hover{
  font-size: 0.5em;
  background-color: #1D99CF;
  color: #ffffff;
}


#classshowdescription {
  width: 100%;
  margin: 10px;
  line-height: 110%;
  height: 150%;

}

#classshowheader{
  max-width: 100%;

  padding-bottom: 0 !important;

}

#listclassshow {
  margin-left: -35px;
}

#classshowpage {
  margin: 20px;
  margin-top: 20px !important;
}

/*Student Add/Remove Page Classes*/

#studentaddpage {
  margin: 20px;
}

#classsaddwellstudents {
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  font-color: #474747;
  margin: 0;
}

#classnewwellclass {
border-right: 10px solid #1D99CF;
margin: 0;
padding-right: 50px;
}

.checkbox label, .radio label {
  margin: 10px;
}

/*Events Index */



.btn.btn-google {
  font-size: 0.5em;
  border: 2px solid #E61616;
  background: none;
  color: #E61616;
  margin: 10px;
  margin-right: 15px;

}

.btn.btn-google:hover {
  font-size: 0.5em;
  margin: 10px;
  margin-right: 15px;
  background-color: #E61616;
  color: #ffffff;

}

#googleconnect {
  font-size: 0.5em;
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  margin: 10px;
  margin-right: 15px;
}

#googleconnect:hover {
  font-size: 0.5em;
  margin: 10px;
  margin-right: 15px;
  background-color: #1D99CF;
  color: #ffffff;

}

/*Event Show*/

#backeventshow {
  margin-top: 25px;
}

.event.list-group {
  border: 3px solid #ddd;
}

.event.list-group-item {
  line-height: 1.3;
  border: none;
}

input[type=submit] {
  border: 2px solid #1D99CF;
  background: none;
  color: #1D99CF;
  font-size: 0.9em;
  font-weight: 400;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px 25px;

}

input[type=submit]:hover {
  font-size: 0.9em;
  background-color: #1D99CF;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 10px 25px;
}

/* New Event Form */
.eventnew input, .eventnew select, .eventnew .input-group.date {
  margin-bottom: 10px;
}

/* Make the disabled fields background a bit darker */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #BEBEBE;
}

/* Update the size of the text in the labelauty checkboxes */
input.labelauty + label {
  font-size: 18px;
}

/*Student Directory*/

.student.list-group {
  border: 3px solid #ddd;
}

.student.list-group-item {
  line-height: 1.3;

}

/*calendar content size*/
div.fc-content {
  font-size: 15px;
}

/*calendar buttons for iphone5 and smaller*/
@media (max-width: 321px) {
  button.fc-today-button {
    margin-left: -.1em !important;
  }
  button.fc-prev-button {
    margin-left: 20px !important;
  }
}

.required {
   padding-right: 25px;
   background-image: url(https://i.imgur.com/7p4dXkT.png);
   background-position: left center;
   background-repeat: no-repeat;
}
