<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <h1>Class List</h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% if @classes.count < 1 %>
          <tr>
            <td>No classes currently</td>
            <td>None</td>
          </tr>
          <% else %>
          <% @classes.each do |group| %>
          <tr>
            <td><%= link_to group.name, classgroup_path(group.id) %></td>
            <td><%= group.description %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Add Class', new_classgroup_path, :class => 'btn btn-primary' %>
  </div>
</div>


